* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  
}
body, html {
  min-height: 100vh;
  
}
body {
  width: 100%;
  background-color: #31313f;
  display: flex;
  justify-content: center;
  align-items: center;
}